*
*::before,::after{
  box-sizing: border-box;
}

:root{
  --ff--primary:'Lora', serif;
  --ff--secondary:'Roboto Slab', serif;

  --fw--reg:400;
  --fw--bold:700;

  --clr--light:#fff;
  --clr--dark:#0b0b0b;
  --clr--accent:rgb(77, 77, 148);
  --clr--accent1:rgb(225, 233, 234);


  --fs--h1: 2.7rem;
  --fs--h2: 2.25rem;
  --fs--h3: 2rem;
  --fs--body:1rem;

  --bs:0.25em 0.25em 0.75em rgba(0,0,0, .25),
       0.125em 0.125em 0.25em rgba(0,0,0, .15);

}

html{
  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  :root{
      --fs--h1: 4.5rem;
      --fs--h2: 3.75rem;
      --fs--h3: 1.5rem;
      --fs--body:1.25rem;
    
  }
  
}
/* general styles */

body{
  background: var(--clr--light);
  color: var(--clr--dark);
  margin: 0;
  font-family: var(--ff--primary);
  font-size: var(--fs--body);
  line-height: 1.6;
}
img{
  display: block;
  max-width: 100%;
}

/*typography*/
h1,
h2,
h3{
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs--h1);
}
h2{
  font-size: var(--fs--h2);
}
h3{
  font-size: var(--fs--h3);
}
strong{
  font-weight: var(--fw--bold);
}

:focus{
  outline: 3px solid var(--clr--accent);
  outline-offset: 3px;
}
/*button*/

.btn{
   
    display: inline;
    padding: .5em 2.5em;
    background: var(--clr--accent);
    color: var(--clr--dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw--bold);
    transition: transform 200ms ease-in-out;
    
}

.btn:hover{
  transform: scale(1.1);
}

.section__title{
 margin: .25em;
 
}

.section__title--intro{
  font-weight: var(--fw--reg);
  font-size:var(--fs--h1);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs--h3);
}
.section__subtitle--intro,
.section__subtitle--about{
  background: var(--clr--accent);
  font-family: var(--ff--secondary);
  margin-bottom: 1em;
  padding: .25em 1em;
  
}
.section__subtitle--work{
  color: var(--clr--accent);
  font-weight: var(--fw--bold);
  margin-bottom: 1em;
  
 }
/* header */
  header{
    display: flex;
    justify-content: space-between;

  }
  .nav{
    position: fixed;
    background-color: var(--clr--dark);
    color: var(--clr--light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);
  }
  .nav__list{
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .nav__link{
    color: var(--clr--light);
    font-weight: var(--fw--bold);
    font-size: var(--fs--h1);
    text-decoration: none;
  }
  .nav__link:hover{
    color: var(--clr--accent);
  }
  .nav-toggle{
    
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: .5em;
    top: 0.5em;
    z-index: 1000;
  }

  .nav-open .nav{
    transform: translateX(0%);
  }
  .nav-open .nav-toggle{
    position: fixed;
  }
  .nav-open .hamburger{
    transform: rotate(.624turn);
      
  }
  .nav-open .hamburger::before{

    transform:rotate(97deg) translateX(-6px);
  }

  .nav-open .hamburger::after{
    opacity: 0;
  }

 .logo{
  width: 5em;
 }

  .hamburger{
    display: block;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after{
    background: var(--clr--accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--clr--accent);
    
  }
  .hamburger::before{
    top: 6px;
  }
  .hamburger::after{
    bottom: 6px;
  }

 /*intro section*/

 .intro{
  position: relative;
  left: 5em;
  
 }

 .section__title{
    margin-bottom: .25em;
 }

 .section__title--intro{
  font-weight:var(--fw--reg);
 }

 .section__title--intro strong{
  display: block;
 }

 .section__subtitle{
  margin:0;
  font-size: var(--fs--h3);
 }

 .section__subtitle--intro, 
 .section__subtitle--about{
  background-color: var(--clr--accent);
  padding: .25em 1em ;
  margin-bottom: 1em;
  font-family: var(--ff--secondary);

 }

 .intro__img{
  box-shadow: var(--bs);
}

.section__subtitle--intro{
  display:inline-block;
}

@media  (min-width :600px){

  .intro{
    margin: 0;
    width: min-content;
    display: grid;
    grid-template-areas: 
    "img title"
    "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img{
    grid-area: img;
    min-width: 200px;
    position: relative;
    z-index: 2;
  } 
  .section__subtitle--intro{
    align-self: start;
    grid-column: -1 / 1 ;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
  width: calc(100% + 1.5em);
   
  }
}

.intro__img{
    grid-area: img;
    min-width: 200px;
}
.section__subtitle--intro{
  align-self: start;
  grid-column: -1/ 1;
  grid-row: 2;
  text-align: right;
  position: relative;
  
}

/* services */
.my-services{
  background-color: var(--clr--dark);
  background-size: cover;
  background-image: url(../P4.3.png );
  color: var(--clr--dark);
  text-align: center;
  padding-bottom: 20px;
}
.section__title--services{
  color: var(--clr--dark);
  position: relative;
}

.section__title--services::after{
  content: '';
  display: block;
  width: 25%;
  margin: 0.5em auto 1em;
  height: 1px;
  background: var(--clr--light);
  opacity: 0.25;
}
.services{
  max-width: 500px;
  margin: 0;
}
@media (min-width:800px) {
  .services{
    display: flex;
    max-width: 1000px;
    margin: auto;
  }
  .services + .services{
    margin-left: 2em;
  }
  
}
.aboutme{
  max-width: 1000px;
  margin: 0 auto;
}
.about-img{
  margin-top:24.5px;
  box-shadow: var(--bs);
}

@media (min-width:600px) {
  .aboutme{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
    "title img"
    "subtitle img"
    "text img";
    grid-column-gap: 2em;
  }
  .section__title--aboutme,
  .section__subtitle--about{
    grid-column: 1;
    
  }
  .section__title--aboutme{
    grid-area: title;
  }
  .section__subtitle--about{
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -0em;
    width: calc(100% + 4em);

  }
  .about-img{
    top: 2em;
    grid-row: 1 / -1;
    grid-column: 2 ;
    grid-area: img;
    position: relative;
    z-index: 2;
  }
  
}
 /* my work */
 .my-work{
  margin-top: 2em;
  background-color: var(--clr--light);
  color: var(--clr--dark);
  text-align: center;
 }
 .portfolio{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  
 }
 .portfolio__item{
  background-color: var(--clr--accent);
  overflow:hidden;
 }
 .portfolio__img{
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
 }
 .porfolio__item:focus {
  position: relative;
  z-index: 2;
 }
 .portfolio__img:hover,
 .porfolio__item:focus .porfolio__img{
  transform: scale(1.5);
  opacity: .8;
 }

 /*foooter*/


 .footer{
  background:var(--clr--dark);
  color: var(--clr--accent1);
  text-align: center;
  padding: 2.5em 0;

 }
 
 .footer a :hover,.social-list__link:hover{
  opacity: .7;

 }
 .footer__link{
  text-decoration: none;
 }
 .footer__link:hover{
  text-decoration: underline;
 }

 .logo1{
   align-content: center;
 }

 .social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;

 }
 .social-list__item{
  margin: 0.5em;
 }
 .social-list__link{
  padding: 0.5em;
  position: relative;
  top: 9px;
 }

 .portfolio-item-individual{
  padding: 0 2em 2em ;
  width: 1000px;
  margin: 0 auto;
 }
 .portfolio-item-individual p{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
 }
 .identity{
  background-color:var(--clr--accent1);
  margin-top: 2em;
  padding: 5px;
}
/* my work */
.my-work1{
  margin-top: 2em;
  background-color:var(--clr--light);
  color: var(--clr--dark);
  text-align: center;
 }
 .portfolio1{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  
 }
 .portfolio__item1{

  overflow:hidden;
 }
 
 .porfolio__item1:focus {
  position: relative;
  z-index: 2;
 }
 .portfolio__img:hover,
 .porfolio__item1:focus .porfolio__img{
  transform: scale(0.3em);
  opacity: 1;
 }
.imglogo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imgoffice{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.reseau{
  background-color: antiquewhite; 
}
.sub_reseau{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.project{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.num{
  color: var(--clr--dark);
  position: relative;
  top: -5px;
}
